# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

config SHIELD_WINGXSL_LEFT
    def_bool $(shields_list_contains,wingxsl_left)

config SHIELD_WINGXSL_RIGHT
    def_bool $(shields_list_contains,wingxsl_right)

